@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  width: 80vw;
  height: 100vh;
  display: grid;
  column-count: 2;
  align-items: center;
  justify-items: center;
  font-size: 10pt;
  font-family: "Spartan";
  color: #2A293E;
}

.divtodo{
  display: inline-block;
  align-items: center;
  justify-items: center;
}
.divum {
  display: inline-block;
  align-items: center;
  justify-items: center;
  width: 40vw;
}

.divdois {
  display: inline-block;
  align-items: center;
  justify-items: center;
  width: 20vw;
  padding: 30px;
  vertical-align: top;

}

.divtres {
  display: inline-flex; 
 align-items: center; 
  justify-items: center;
  width: 20vw;
  padding: 30px;
  vertical-align: text-bottom;

}

.divlista {  display: inline-flex; 
  align-items: center; 
   justify-items: center;
   width: 20vw;
   padding: 30px;
   vertical-align: top;
}

.imagem {
  width: 200px ;
}

label, input, textarea {
  display: inline-flex;
  width: 100%;
  font-size: 12pt;
  line-height: 18pt;
  font-family: "Spartan";
}

#tempLi {
  text-decoration-line: underline;
  text-decoration-color: dodgerblue;
  line-height: 1.5em;
}

input {
  margin-bottom: 10pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: both;
}



button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 5px 5px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  margin: 10px;
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  transition: background-color 5000s ease-in-out 0s;
}
